# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
.env/

# IDE settings
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# Jupyter Notebooks
.ipynb_checkpoints/

# Distribution / packaging
dist/
build/
*.egg-info/

# Local development
*.log
*.cache
